.btn{
    width: 200px;
}
.col1{
     background-color: #108ee9;
 }
.col2{
    background-color: aquamarine;
}
.flex{
    display: flex;
    justify-content: space-around;
}
.pop{
    width: 30px;
    height: 60px;
    margin-top: 50px;
    margin-left: 100px;
}