.btn{
    width: 200px;
}
.col1{
     background-color: #108ee9;
 }
.col2{
    background-color: aquamarine;
}
.flex{
    display: flex;
    justify-content: space-around;
}
.pop{
    width: 60px;
    height: 60px;
    margin-top: 50px;
    margin-left: 100px;
    border: 1px solid;
}
.size{
    width:200px;
    height: 100px;
}
.win{
    background-color: #108ee9;
}